# Désactive l'automatisation TLS (Let's Encrypt) pour le développement local
{
    auto_https off
    log {
        output stdout
        format json
        level info
    }
}

# Serveur HTTP sur le port 80 (pas de TLS)
:80 {
    root * /app/front
    encode gzip
    try_files {path} /index.html
    file_server
    log {
        output stdout
        format json
        level info
    }
}